<div class="container" id="main-content">
  <div class="row">
    <h3 class="model-title"><%= @search.query.blank? ? "Search results (#{@results_count})" : "Search results for #{@search.query} (#{@results_count})" %></h3>
  </div>
  <div class="row">
    <div class="col-md-8" id="content-list">
      <%= render partial: 'layouts/content', locals: { posts: @results }  %>

      <% if @results.nil? || @results.empty? %>
      <article class="post type-post status-publish format-standard has-post-thumbnail hentry" itemscope="">
        <div class="post-body">
          <div class="entry" itemprop="articleBody">
            <p>
              Nothing was found! Try refining your search query.
            </p>
          </div><!-- /.entry -->
        </div><!-- /.post-body -->
      </article>
      <% end %>
    </div>
    <div class="col-md-4">
      <%= render partial: 'layouts/sidebar'  %>
    </div>
  </div>
</div>

<div id="infinite-scrolling">
  <%= will_paginate @results %>
</div>
