<div class="content">
  <% unless posts.nil? %>
    <% posts.each do |post| %>
    <article class="post type-post status-publish format-standard has-post-thumbnail hentry" itemscope="">
      <header class="post-head">
        <time class="post-date" datetime="<%= post.created_at %>" itemprop="datePublished"><%= post.created_at.strftime('%A, %d %b %Y') %></time><!-- /.post-date -->
        <h3 class="post-title">
          <%= link_to post.title, post.path, title: post.title %>
        </h3><!-- /.post-title -->

        <ul class="post-category">
          <% if @is_home || @is_search %>
            <li><%= link_to post.model_name.pluralize, send("#{post.model_name.pluralize.downcase}_path") %></li>
          <% end %>
        </ul>
      </header><!-- /.post-head -->

      <div class="post-meta">
      </div><!-- /.post-meta -->

      <div class="post-body">
        <div class="entry" itemprop="articleBody">
          <p>
            <% unless post.content.nil? %>
              <%= truncate_html(post.content, length: 500, omission: '...(continued)').html_safe %>
            <% end %>
          </p>
        </div><!-- /.entry -->

        <div class="entry">
          <% unless post.tags.nil? %>
            <% post.tags.split(', ').each do |tag| %>
              <%= link_to tag, tag_path(tag) %>
            <% end %>
          <% end %>
        </div>

        <div class="post-actions">
          <%= link_to 'Read more', post.path, class: 'button tiny grey' %>
        </div><!-- /.post-actions -->
      </div><!-- /.post-body -->
    </article>
    <% end %>
  <% end %>
</div>
