<div class="container" id="main-content">
  <div class="row">
    <h3 class="model-title"><%= "#{@tag.name} (#{@tag.count})" %></h3>
  </div>
  <div class="row">
    <div class="col-md-8">
      <%= render partial: 'layouts/content', locals: { posts: @tagged_content }  %>
    </div>
    <div class="col-md-4">
      <%= render partial: 'layouts/sidebar'  %>
    </div>
  </div>
</div>
